h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 1rem;
    font-family: 'Quicksand', sans-serif;
}

mat-card {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;

    mat-card-header {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    mat-card-content {
        font-size: 14px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* Ekran genişliği 1000px altında olduğunda 4. ve sonraki tüm kartları gizle */
@media (max-width: 1000px) {
    mat-grid-tile:nth-child(n+4) {
      display: none;
    }
  }
  