.mat-mdc-fab{
    box-shadow: none !important;
}

.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color:transparent;
    --mat-mdc-fab-color: rgb(17, 117, 109);
}

mat-spinner {
    width: 30px !important;
    height: 30px !important;
    margin-right: .5rem;
}

.update{
    float: right;
    right: 0rem;
}