<div class="content">
    <div class="container d-grid">
        <div class="div">
            <button mat-raised-button color="primary" class=" float-end mt-5">Tema Ekle</button>
        </div>
        <div *ngFor="let item of list">
            <mat-card class="mb-4 mt-3">
                <mat-grid-list cols="5" rowHeight="2:1">
                    <div *ngFor="let item of items; let i = index">
                        <mat-grid-tile>
                            <div class="input-group mb-3">
                                <button class="clipboard" onclick="myFunction(1)"><i class="bi bi-copy"></i></button>
                                <input [id]="'myInput' +i" type="text" class="form-control" placeholder="Username">

                                <div id="copyNotification"></div>
                            </div>
                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </mat-card>
        </div>
    </div>
</div>