
.clipboard, input {
    background-color: white;
    border: 1px solid #e1e1e1;
}

#copyNotification {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background-color: #28a928;
    color: white;
    display: none;
}

button{
    margin-left: 1rem;
}
input{
    margin-right: 1rem;
}