.container,
.body {
    background-color: #f6f6f7;
    height: 100vh;
}

.row {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(101, 126, 174, .25);
    border-radius: 8px;
}

.clipboard, input {
    background-color: white;
    border: 1px solid #e1e1e1;
}

.form-control:focus {
    border-color: #efefef; 
    box-shadow: none;
}

button{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#copyNotification {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background-color: #28a928;
    color: white;
    display: none;
}

.modal-dialog {
    max-width: 80%;
}
form{
    border: none !important;
}