<div width="100">
    <div class="container p-5">
        <div class="row p-3 mb-3">
            <div class="col-md-12 mb-3">
                Dark Tema
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
        </div>
        <div class="row p-3 mb-3">
            <div class="col-md-12 mb-3">
                Light Tema
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
        </div>
        <div class="row p-3 mb-3">
            <div class="col-md-12 mb-3">
                Kendi Temam
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
            <div class="col-md-2">
                Column
            </div>
        </div>
    </div>
</div>