<main>
    <div class="card p-5 m-auto text-center">
        <h2>Hoş Geldiniz</h2>
        <form class="mt-4 mb-4">
            <div class="mb-3 text-start">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 text-start">
              <label for="exampleInputPassword1" class="form-label">Şifre</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check text-start">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Giriş bilgilerimi hatırla</label>
            </div>
            <button type="submit" class="btn">Giriş Yap</button>
          </form>
          <p>Üye olmak için bizimle <a href="#">iletişime geçin.</a></p>
    </div>
</main>