<div class="sidebarMenu" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">
    <div class="text-center" style="height: 4rem;">
        <div [ngClass]="status ? 'darSideBarAlt' : 'genisSideBarAlt'">
            <button (click)="clickEvent()"><img src="../../../assets/dashboard.png" alt=""></button>
        </div>
    </div>
    <div class="sideBarOrta mt-5">
        <ul class="nav flex-column">
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link active" routerLink="abouth" routerLinkActive="active">
                    <span class="navIcon"><i class="bi bi-house"></i></span>
                    <span class="navitemtext"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Kişisel
                        Bilgilerim</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link" routerLink="theme" routerLinkActive="active">
                    <span class="navIcon"><i class="bi bi-speedometer2"></i></span>
                    <span class="navitemtext"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Temalarım</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link" routerLink="blog" routerLinkActive="active">
                    <span class="navIcon"> <i class="bi bi-table"></i></span>
                    <span class="navitemtext"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Blog
                        Yazılarım</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link" routerLink="project" routerLinkActive="active">
                    <span class="navIcon"><i class="bi bi-grid"></i></span>
                    <span class="navitemtext"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Projelerim</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link" routerLink="page" routerLinkActive="active">
                    <span class="navIcon"> <i class="bi bi-person-circle"></i></span>
                    <span class="navitemtext"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Alışlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>