.sidebarMenu {
    color: #303030;
    width: auto;
    height: 100vh;
    border-right: 1px solid #dae0ec;
    background-color: #fff;
    display: inline-block;
}

.genisSideBar {
    width: 220px;

    .sideBarOrta {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    svg {
        margin-right: .5rem;
    }
}

.darSideBar {
    width: 4rem;
}

.nav {
    width: 100%;

    .nav-item {
        margin: 0rem .5rem;
        border-radius: 4px;
        padding-right: 0.4rem;
        padding-left: 0.4rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
        margin-top: .1rem;

        .nav-link {
            color: #00224D !important;
            padding: .4rem .3rem;
            display: flex;

            .navIcon {
                display: inline-flex;
                justify-content: center;
                width: 26px;
                height: 26px;
                color: #00224D;
                border-radius: 4px;
            }

            .navitemtext {
                font-size: 17px;
                margin-left: .3rem;
            }

            .navLinkGenis {
                display: inline-block;
                visibility: visible;
            }

            .navLinkDar {
                display: none;
                visibility: hidden;
            }
        }
    }

    .active-link {
        background-color: #f1f1f1;
        font-weight: 500;
    }
}

.genisSideBarAlt {
    width: 50px;
    padding-top: .6rem;
    float: right;
    height: 4rem;
    margin-right: .3rem
}

.darSideBarAlt {
    width: 60px;
    padding-top: .6rem;
    height: 4rem;
    margin-left: .6rem;
}

button {
    border: none;
    margin-right: .8rem;
    background-color: transparent;

    img {
        height: 30px;
        width: 30px;
        margin-top: .4rem;
    }
}

svg {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
}