.sidebarMenu {
    color: #0c16a5;
    width: auto;
    height: 100vh;
    border-right: 3px solid #fbfbfb;
    background-color: #fdfdfd;
}

.genisSideBar {
    width: 180px;
    transition: .40s;
}

.darSideBar {
    width: 60px;
    transition: .40s;
}

.nav li a {
    color: #0c16a5 !important;
    font-size: 16px;
}

.navIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #0c16a5;
    color: #fff;
    margin-right: 6px;
    border-radius: 4px;
}

.navLinkGenis {
    display: inline-block;
    visibility: visible;
}

.navLinkDar {
    display: none;
    visibility: hidden;
}

.genisSideBarAlt {
    width: 50px;
}

.darSideBarAlt {
    width: 60px;
    margin-top: 2rem !important;
}

.none{
    display: none;
}

.block{
    margin-left: 1rem;
}

button{
    border: none;
    margin-right: .2rem;
    margin-top: -0.7rem;
    background-color: transparent;
}

button img{
    height: 28px;
    width: 28px;
}