<main>
    <div class="design"></div>
    <app-navbar></app-navbar>
    <section class="landing" id="profile">
        <div class="container">
            <div class="row">
                <div class="col article">
                    <h1 class="web-title">Backend <br> Developer</h1>
                    <h1 class="mobile-title">Backend Developer</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate id inventore excepturi quia
                        quae iure ipsum? Tempora, recusandae, aliquid quasi, distinctio voluptates totam libero ipsum
                        natus tenetur voluptatum sed voluptate!
                        Tenetur quo unde dolorum nobis natus inventore quis sint itaque ipsum. Odio consectetur nemo
                        illum necessitatibus! Ratione, cum nam suscipit facilis dignissimos beatae explicabo quibusdam
                        mollitia quas dolorum deserunt ad.</p>
                </div>
                <div class="col right d-flex">
                    <div class="image"><img src="../../assets/profil.jpg" alt=""></div>
                    <div class="statistic">
                        <div class="info">
                            <ul class="p-0 mb-1 text-start">
                                <li>
                                    <div class="title">4+</div>
                                    <div class="description">yıl deneyim</div>
                                </li>
                                <li>
                                    <div class="title">43+</div>
                                    <div class="description">tamamlanan proje</div>
                                </li>
                                <li>
                                    <div class="title">284+</div>
                                    <div class="description">commit</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="technologies" [ngClass]="{'fixed-bottom': isTop}">
        <div id="infinite" class="highway-slider">
            <div class="highway-barrier">
                <ul class="highway-lane">
                    <li class="highway-car"><img src="../../assets/tech/java-svgrepo-com.svg" alt="">
                        <p style="margin-bottom: .5rem;">Java</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/dart-svgrepo-com.svg" alt="">
                        <p>Dart</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/docker-svgrepo-com.svg" alt="">
                        <p>Docker</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/flutter-svgrepo-com.svg" alt="">
                        <p>Flutter</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/kafka-icon-svgrepo-com.svg" alt="">
                        <p>Kafka</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/kubernetes-svgrepo-com.svg" alt="">
                        <p>Kubernetes</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/postgresql-svgrepo-com.svg" alt="">
                        <p>PostgreSQL</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/postman-icon-svgrepo-com.svg" alt="">
                        <p>Postman</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/spring-boot-svgrepo-com.svg" alt="">
                        <p>Spring Boot</p>
                    </li>
                    <li class="highway-car"><img src="../../assets/tech/swagger-svgrepo-com.svg" alt="">
                        <p>Swagger</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="projects mt-5">
        <ul>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
        </ul>
    </section>

</main>