<nav class="navbar">
  <div class="container-fluid">
    <ul class="d-flex">
      <div>
        <li class="nav-item p-0 me-auto">
          <a class="nav-link" aria-current="page" href="#"><i class="bi bi-calendar-plus me-3"></i>{{ formattedDate
            }}</a>
        </li>
      </div>
      <div class="right d-flex">
        <li class="nav-item p-0">
          <a class="nav-link" href="#">n</a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="#">Pp</a>
        </li>
      </div>
    </ul>
  </div>
</nav>