<nav class="navbar p-0">
  <div style="width: 100%;">
    <ul class="d-flex mb-1 mt-1">
      <div class="ms-3">
        <li class="nav-item p-0 me-auto">
          <span class="nav-link" aria-current="page"><i class="bi bi-calendar-plus me-2"></i>{{ formattedDate}}</span>
        </li>
      </div>
      <div class="right d-flex me-3">
        <li class="nav-item p-0">
          <a class="nav-link" href="#">n</a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="#">Pp</a>
        </li>
      </div>
    </ul>
  </div>
</nav>