<div class="body">
  <h3 class="pt-5 pb-2 ps-5 m-0">Hoşgeldin Raşit<i class="bi bi-emoji-smile ms-2"></i></h3>
  <p class="pb-2 ps-5 m-0">seni tekrardan görmek çok güzel</p>
  <div class="container mt-5 mb-5">
    <div class="row g-3 mt-1 ps-2 pe-2">
      <div class="col-md-12 col-lg-12">
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-4 mb-3">
              <label for="firstName" class="form-label">Ad</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Zorunlu alan!
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <label for="lastName" class="form-label">Soyad</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Zorunlu alan!
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <label for="firstName" class="form-label">Deneyim</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Zorunlu alan!
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <label for="username" class="form-label">Github Kullanıcı Adı</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="github-username" placeholder="Username" required="">
                <div class="invalid-feedback">
                  Zorunlu alan!
                </div>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <label for="username" class="form-label">Medium Kullanıcı Adı</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="medium-username" placeholder="Username" required="">
                <div class="invalid-feedback">
                  Zorunlu alan!
                </div>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <label for="username" class="form-label">Youtube Kullanıcı Adı</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="medium-username" placeholder="Username" required="">
                <div class="invalid-feedback">
                  Zorunlu alan!
                </div>
              </div>
            </div>

            <div class="col-sm-612mb-3">
              <label for="email" class="form-label">E-mail </label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Zorunlu alan!
              </div>
              <div class="form-check mt-2">
                <input type="checkbox" class="form-check-input" id="same-address">
                <label class="form-check-label" for="same-address">Mail adresim görünsün</label>
              </div>
            </div>

            <div class="col-12 mb-3">
              <label for="address" class="form-label">Açıklama</label>
              <div class="form-control" id="description" #editor></div>
              <button type="button" (click)="showEditorData()">show</button>
              <div class="invalid-feedback">
                Zorunlu alan!
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <label for="formFile" class="form-label">Profil Resmi</label>
              <input class="form-control image" type="file" id="formFile" (change)="onFileSelected($event)">
            </div>
            <div class="col-sm-6 mb-3 mt-2" *ngIf="selectedFile">
              <label for="formFile" class="form-label">Seçilen Dosya:</label>
              <div><img [src]="imageUrl" alt="Seçilen Resim"></div>
            </div>

          </div>

          <button class="w-30 btn btn-primary btn-snmall mb-5" type="submit">Bilgilerimi Kaydet</button>
        </form>
      </div>
    </div>
  </div>
</div>