.body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background-color: #f6f6f7;
}

.container{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(101,126,174,.25);
    border-radius: 9px;
}

@media (min-width: 900px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 80%;
    }
}
@media (max-width: 900px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}


input, .input-group-text {
    border-radius: 0rem;
    height: 2.5rem;
    font-size: 16px;
}

.form-check-input {
    height: 1rem;
}

label {
    font-size: 18px;
    font-weight: 400;
}

.image {
    height: 2.5rem;
}

img {
    width: 80%;
}