.profile-img-group {
    height: 24.5rem;

    img {
        width: 100%;
    }
}

.col-md-9 .container,
.about-area,
.profile-img-group {
    background-color: aliceblue;
}

input {
    border-radius: 0rem;
    padding: 0.275rem 0.55rem !important;
    font-size: .8rem !important;
}

label {
    font-size: 14px;
}

.col-lg-6 {
    margin-bottom: 1rem;
}

.input-group-text {
    padding: 0.2rem 0.65rem;
}

.abouth-text-add {
    top: -2rem;
    position: relative;

    button {
        font-size: 10px;
    }
}

ul {
    list-style: none;

    li {
        position: relative;
        top: -1rem;
        font-size: 14px;
        display: flex;

        div {
            background-color: white;
            margin-bottom: 1rem;
            padding: .5rem;
            margin-right: .5rem;
        }

        .check-area {
            padding: 1rem;

            input,
            .form-check-input {
                padding: .5rem !important;
                left: 1.7rem;
            }
        }
    }
}