<h1>Blog Yazılarım</h1>
<div class="d-flex justify-content-center">
        <ul class="mt-5 me-5 ms-5">
            <app-blog-summary-item></app-blog-summary-item>
            <app-blog-summary-item></app-blog-summary-item>
            <app-blog-summary-item></app-blog-summary-item>
        </ul>
        <ul class="mt-5 me-5 ms-5">
            <app-blog-summary-item></app-blog-summary-item>
            <app-blog-summary-item></app-blog-summary-item>
            <app-blog-summary-item></app-blog-summary-item>
        </ul>
</div>
<p class="mb-5">Daha fazla makale için <a href="">tıklayınız</a></p>