.sidebar {
    height: 100vh;
    border-right: 2px solid #efefef;
    background-color: transparent !important;
}

.sidebar-little {
    display: none !important;
}

.sidebar-big {
    display: flex !important;
    width: 200px !important;
}

.nav-link {
    padding: 5px 2px 2px 15px;
    line-height: 35px;
    text-decoration: none;
    color: #3c4e71;
    display: flex;
    align-items: center;
    border-radius: 0rem;
    &:hover{
        background-color: #6caaab;
    }
}

.nav-link.active {
    color: #fff !important;
    background-color: #2D9596;
}

.nav-link{
    font-size: 18px;
    font-weight: 400;
}

i {
    margin-right: 0.625rem;
}

.profile-width{
    max-width: 10rem;
}

.sidebar-title,
.dropdown {
    margin-left: 18px;
}

.sidebar .dropdown-toggle {
    white-space: normal;
}


@media (max-width:1000px) {
    .sidebar-little {
        display: flex !important;
    }

    .sidebar-big {
        display: none !important;
    }
}

.sidebar-little{
    .nav-pills{
        padding-left: 0px !important;
        width: 100%;
    }
    .nav-link{
        padding-left: 16px;
    }
}