.sidebar {
    height: 100vh;
}

.sidebar-little {
    display: none !important;
}

.sidebar-big {
    display: flex !important;
    width: 195px !important;
}

.nav-link {
    padding: .7rem;
}

@media (max-width:1000px) {
    .sidebar-little {
        display: flex !important;
    }

    .sidebar-big {
        display: none !important;
    }
}