.content {
    width: 100%;
}

.navbar {
    width: 100%;

    .right {
        margin-right: 1rem;

        .notifcation {
            border-right: 1px solid #d1d1d1;
            padding-right: 1.5rem;
            margin-right: 0;
        }

        .dropdown-menu[data-bs-popper] {
            right: 0;
            margin-top: 0.6rem;
            background-color: #f8f8f8;
            left: -6rem;
        }

        .profile {
            margin-left: 1.5rem;
        }

        @media (max-width:442px) {
            .notifcation {
                padding-right: .5rem;
                margin-right: 0;
            }

            .profile {
                margin-left: .5rem;
            }
        }
    }

    @media (max-width:442px) {
        .navbar-brand {
            font-size: 1rem;
        }
    }
}


@media (max-width:582px) {
    .container-fluid {
        padding-left: 0rem;
        margin-left: 0.1rem;
    }

    .right {
        margin-right: .5rem;
    }
}