<div class="technologies" [ngClass]="{'fixed-bottom': isTop}">
    <div id="infinite" class="highway-slider">
        <div class="highway-barrier">
            <ul class="highway-lane d-flex">
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
                <app-known-technologies-item></app-known-technologies-item>
            </ul>
        </div>
    </div>
</div>