<li class="ms-4 me-4">
    <div class="card pb-5 pt-3">
        <div class="card-img mb-3"><img src="../../../../assets/ft1.png" alt=""></div>
        <div class="card-title text-start">
            <h6 class="mb-0">Deneme</h6>
        </div>
        <div class="card-description text-start">
            <p>Lorem ipsum tenetur rerum sit inventore temporibus vel aliquid voluptatibus repellat architecto totam
                Lorem ipsum tenetur rerum sit inventore temporibus vel aliquid voluptatibus repellat architecto totam quod accusamus unde. Natus quo necessitatibus et quod accusamus unde. Natus quo necessitatibus et</p>
        </div>
    </div>
</li>