.card-img img {
    width: 85%;
}

.card-description p {
    font-size: 11px;
    width: 85%;
    margin: auto;
    overflow: hidden; /* Fazla içeriği gizler */
    text-overflow: ellipsis; /* Taşan metni ... ile gösterir */
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Kaç satırın gösterileceğini belirler */
    -webkit-box-orient: vertical;
    height: 6rem;
}

.card-title h6 {
    font-weight: bold;
    width: 85%;
    margin: auto;
}

.card {
    border-radius: 0rem;
    height: 18rem;
}